.primary-slider .slide.carousel-item .carousel-caption {
  background: linear-gradient(transparent, #000);
  bottom: 0;
  padding: 20px 20px 20px 12%;
  height: 65%;
  left: 0;
  right: 0;
}

.primary-slider .slide.carousel-item .carousel-caption .text {
  max-width: 40%;
}